In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import random
df = pd.read_csv('BreadBasket_DMS.csv')

In [3]:
df.head()

         Date      Time  Transaction           Item
0  30-10-2016  09:58:11            1          Bread
1  30-10-2016  10:05:34            2   Scandinavian
2  30-10-2016  10:05:34            2   Scandinavian
3  30-10-2016  10:07:57            3  Hot chocolate
4  30-10-2016  10:07:57            3            Jam

In [4]:
df['Item'] = df['Item'].str.strip()

In [5]:

df['Quantity'] = np.random.randint(1, 5, df.shape[0])

In [6]:
df.head()

         Date      Time  Transaction           Item  Quantity
0  30-10-2016  09:58:11            1          Bread         4
1  30-10-2016  10:05:34            2   Scandinavian         4
2  30-10-2016  10:05:34            2   Scandinavian         1
3  30-10-2016  10:07:57            3  Hot chocolate         3
4  30-10-2016  10:07:57            3            Jam         4

In [7]:
grouping = (df.groupby(['Transaction','Item'])['Quantity']
           .sum().unstack().reset_index().fillna(0)
           .set_index('Transaction'))

In [9]:
grouping.head()

Item,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

In [13]:
grouping_sets = grouping.applymap(encode_units)
grouping_sets.drop('POSTAGE', inplace=True, axis=1)
grouping_sets.head()

Item,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
frequent_itemsets = apriori(grouping_sets, min_support=0.03, use_colnames=True)

In [44]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [45]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coffee),(Cake),0.475081,0.103137,0.054349,0.114399,1.109196,0.005350,1.012717
1,(Cake),(Coffee),0.103137,0.475081,0.054349,0.526958,1.109196,0.005350,1.109667
2,(Coffee),(Medialuna),0.475081,0.061379,0.034939,0.073542,1.198175,0.005779,1.013129
3,(Medialuna),(Coffee),0.061379,0.475081,0.034939,0.569231,1.198175,0.005779,1.218561
4,(Pastry),(Coffee),0.085510,0.475081,0.047214,0.552147,1.162216,0.006590,1.172079
5,(Coffee),(Pastry),0.475081,0.085510,0.047214,0.099382,1.162216,0.006590,1.015402
6,(Coffee),(Puff),0.475081,0.076802,0.041234,0.086793,1.130091,0.004747,1.010941
7,(Puff),(Coffee),0.076802,0.475081,0.041234,0.536885,1.130091,0.004747,1.133453
8,(Sandwich),(Coffee),0.071346,0.475081,0.037981,0.532353,1.120551,0.004086,1.122468
9,(Coffee),(Sandwich),0.475081,0.071346,0.037981,0.079947,1.120551,0.004086,1.009348